*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: rgb(63, 63, 104);

    /* background: #ffffff; */
    display: grid;
    place-items: center;
}
header{
    width: 95%;
    height:95vh;
    /* border: 1px solid whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    position: relative;


}

.menu-searchbar{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1px 10px;
    /* border: 1px solid red; */
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.486) ;
    border-radius: 20px;
    width: 90%;
    /* margin: 10px; */
    margin: auto;


    
}
.menu-searchbar input{
    /* border: 1px solid red; */
    width: 100%;
    padding: 1px 10px;
    background: none;
    color: white;
    /* cursor: pointer; */
    /* margin: 4px; */
    padding: 5px;
    font-size: 12px;
    border: none;
    outline: none;
    font-style: italic;

}
.menu-searchbar input::placeholder{
    color: #4c5262;
    border: none;
    

}
.menu-searchbar .bx{
    color: #fff;
}
.menu-searchbar .bx:hover{
    /* background: #4c4c4c; */
    color: #36e2ec;
}


header .menu-side, .song-side{
    width: 30%;
    height: 90%;
    /* border: 1px solid whitesmoke; */
    background: #111727;
    /* border-radius: 5px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;

}


/* ------------------------ */

/* ---menu side section---- */

/* ------------------------ */


header .song-side{
    /* margin-left: 10px; */
    width: 70%;
    background: #0b1320;
}
header .playing-side{
    width: 100%;
    height: 12%;
    /* border: 1px solid red; */
    background: #111727;
    box-shadow: 0px 5px 8px #090f1f;
    /* border: 0.5px solid white; */
    /* border-radius:15px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    
}
header .menu-side h3{
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 15px 20px;
}

header .menu-side .playlist{
    margin: 40px 20px;

}
header .menu-side .playlist h4{
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear ;
}
header .menu-side .playlist h4:hover{
    color: white;
}
header .menu-side .playlist h4 span{
    position: relative;
    margin-right: 30px;

}
header .menu-side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear ;
}
header .menu-side .playlist h4:hover span::before{
    border: 2px solid #fff;
    
}
header .menu-side .playlist h4 .bx{
    display: none;
}
header .menu-side .playlist .active{
    color: #36e2ec;
    font-weight: bold;
}
header .menu-side .playlist .active span{
    display: none;
}
header .menu-side .playlist .active .bx {
    display: flex;
    margin-right: 20px;
}
header .menu-side .songs{
    display: flex;
    width: 108%;
    height: 60vh;
    margin-top: 15px;
    justify-content: center;
    margin-left: -20px;
    /* border: 1px solid red; */
    padding: 0px;
    overflow: scroll;
    overflow-x: hidden;
    
}
header .menu-side .songs::-webkit-scrollbar{
    display: none;
    /* you need to edit the scroll bar */

}
header .menu-side .songs ul{
    width: 100%;
    margin: 0;
    padding: 0;

}
header .menu-side .songs ul .songItem {
    margin-left: 5px;
    list-style: none;
    position: relative;
    padding: 5px 19px 5px 6px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 10px;
    
    

}
header .menu-side .songs ul .songItem img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    /* margin-left: -10px; */
    
}
header .menu-side .songs ul .songItem span{
    color: white;
    font-size: 13px;
    margin-right: 20px;
    padding-left: 0.3rem;
    /* border: 1px solid red; */
    font-weight: 600;
    color: #4c5262;


}

header h5{
    color: white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.songs ul li {
    cursor: pointer;
    transition: .3s linear ;
    /* width: 130%; */
    /* border: 1px solid red; */
}
.songs ul li:hover {
    background-color: rgb(105,105, 105,0.4);
    border-radius: 10px;
}

 .title-name{
    font-size: 9px;
    color: #4c5262;
}

header .menu-side .songs ul .songItem .playBtn{
    position: absolute;
    font-size: 18px;
    right: 15px;
    padding: 8px;
    /* border:1px solid red; */
    transition: .2s linear ;
    border-radius: 50%;

}
header .menu-side .songs ul .songItem .playBtn:hover{
    background: #4c5262;
}




/* ------------------------ */

/* ---playing side section---- */

/* ------------------------ */

.playing-side {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */

}

.playing-side .bottom-player {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin: auto;
    justify-content: space-evenly;
    width: 30%;
    
}
.playing-side .bottom-player:hover{
    cursor: pointer;
}
.bottom-player h5{
    /* border: 1px solid rgb(255, 255, 255); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* font-size: 12px; */
}
.playing-side img {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;

}
.now-playing{
    left: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .bx{
    border-radius: 50%;
    /* border: 1px solid white; */
    padding: 2px;
    font-size: 25px;
    transition: 0.2s linear;
    

}

.icons .bx:hover{
    background: #4c5262;

}
.download-icon .bx{
    /* border: 1px solid red; */
    position: absolute;
    right: 7%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -12px;
}


/* ------------------------ */

/* ---song side section---- */

/* ------------------------ */
.song-side {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: red orange;
}

header .song-side nav{
    width: 95%;
    height: 10%;
    /* border: 1px solid red; */
    /* margin-top: 5%; */
    /* margin-left: 10px; */
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: space-between;

}
header .song-side nav ul {

    margin-top: 2%;
    display: flex;
    justify-content: center;
}
header .song-side nav ul li{
    margin: auto;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    /* padding-right: 10px; */
    list-style: none;
    /* border: 1px solid rgb(241, 241, 241); */
    /* padding: 10px; */
    color: #4c4c4c;
    cursor: pointer;
    transition: .2s linear;
    margin-right: 25px;
}
header .song-side nav ul li:hover{
    color: white;
}
header .song-side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 30px;

}
header .song-side nav ul li:nth-child(1){
    color: white;
}

.searchbar{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1px 10px;
    /* border: 1px solid red; */
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.486) ;
    border-radius: 20px;
    width: 40%;
    margin-right: 0;


    
}
.searchbar input{
    /* border: 1px solid red; */
    width: 100%;
    padding: 1px 10px;
    background: none;
    color: white;
    /* cursor: pointer; */
    /* margin: 4px; */
    padding: 5px;
    font-size: 12px;
    border: none;
    outline: none;
    font-style: italic;

}
.searchbar input::placeholder{
    color: #4c5262;
    border: none;
    

}
.searchbar .bx{
    color: #fff;
}
.searchbar .bx:hover{
    /* background: #4c4c4c; */
    color: #36e2ec;
}

.song-side nav img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* margin: auto; */
    position: relative;
    right: 0;
}

.song-side .content{
    width: 97%;
    height: 30%;
    /* border: 1px solid red; */
    margin: auto;
    padding: 10px 20px;
    border-radius: 15px;
}
.song-side .content h2{
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
    color: white;

}

.song-side .content p{
    font-size: 12px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}

.song-side .content .content-btn{
    margin-top: 15px;
}
.song-side .content .content-btn button{
    width: 130px;
    height: 40px;
    border: 2px solid #36e3ec83;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.3s linear;
}
.song-side .content .content-btn button:hover{
    background: none;
    color: #36e2ec;
}
.song-side .content .content-btn button:nth-child(2){
    background: none;
    color: white;
}
.song-side .content .content-btn button:nth-child(2):hover{
    color: #36e2ec;
}


.popular-songs{
    width: 99%;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 15px;
}
.popular-songs ul{
    display: flex;
    overflow: auto;
    /* overflow-y: hidden; */
    padding: 0;
}
.popular-songs ul::-webkit-scrollbar{
    display: none;
}
.popular-songs .popular-songs-title{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.popular-songs .popular-songs-title h4{
    color: white;
    margin-bottom: 5px;
}
.popular-songs .popular-songs-title .bx{
    color: #a4a8b4;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.popular-songs .popular-songs-title .bx:hover{
    color: white;
}
.popular-songs-card{
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    display: flex;
    
}
.popular-songs-card li{
    min-width: 100px;
    height: auto;
    list-style: none;
    margin-right: 10px;
    transition: 0.2s linear;
}
.popular-songs-card li:hover{
    background: rgb(105, 105, 170,0.1);
}
.popular-songs-card li .play-img{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-songs-card li .play-img img{
    width: 100%;
    height: 100%;
}
.popular-songs-card li .play-img .bx{
    font-size: 2.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.541);
    position: absolute;
    transition: 0.3s linear;
    outline: #0b1320;
    opacity: 0;
}
.popular-songs-card li:hover .play-img .bx{
    opacity: 1;
}
.popular-songs-card li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.popular-songs-card li h5 .title-name{
    font-size: 9px;
    color: #4c5262;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}








.popular-artists{
    margin-top: 10px;
    height: 100%;
}


.popular-artist-cards img{
    width: 4rem;
    height: 4rem;
    list-style: none;
    margin-right: 10px;
    transition: 0.2s linear;
    border-radius: 50%;
    cursor: pointer;
}
.popular-artist-cards ul{
    overflow: auto;
}
.popular-artist-cards ul::-webkit-scrollbar{
    display: none;
}




/* ------------------------ */

/*-mobile responsive section-*/

/* ------------------------ */
@media only screen and (max-width: 600px) {
    header{
        margin: 0;
    }
    header .menu-side, .song-side {
        width: 96vw;
        height: 90%;
        /* border: 1px solid whitesmoke; */
        background: #111727;
        /* border-radius: 5px; */
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .hide{
        display: none;
    }
    .playing-side .bottom-player {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 5px 20px;
        /* border: 1px solid red; */
    }
    .bottom-player .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 45%;
    }
    .bottom-player{
        justify-content: center;
    }
    .icons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

    }
}

  
